# This file is for unifying the coding style for different editors and IDEs
# see https://editorconfig.org/ to learn more.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{mdx,md,markdown}]
trim_trailing_whitespace = false
